<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/gameStyle.css">
    <title>Chess Game</title>
</head>
<body>
    <table>
            <tr  th:each="row, rowIndex: ${pieces}">
                <!--When adding up the rowIndex and columnIndex of each chess square, the light squares always equal an even number, while the dark squares always equal an odd number-->
                    <td th:each="piece, columnIndex:${row}" th:id = "'(' + ${columnIndex.index} + ', ' + ${rowIndex.index} + ')'" 
                        th:class = "${(columnIndex.index + rowIndex.index) % 2 == 0 ? 'lightSquare' : 'darkSquare'}" th:data-pieceName = "${piece.name}" 
                        th:data-pieceColour = "${piece.colour}"><img th:if="${piece.name} != 'Empty'" th:src="'/images/' + ${piece.colour} + '/' + ${piece.name} + '.png'" 
                        th:alt="${piece.name}" 
                        th:class="${piece.name}">
                    </td>
            </tr>
    </table>
</body>
<script>

      var chessBoard = document.getElementsByTagName('table')[0];
      var turn = 'W'; //Tracks the current turn. 'W' indicates White, and 'B' indicates black 
      var pieceSelected = false; //Tracks if a piece is already selected
        
      chessBoard.addEventListener('click', (evt) => {
   
            //Get the row of the square that was clicked
            var currentRow = (evt.target).closest('tr');

            //Get the square that was clicked
            var currentColumn = (evt.target).closest('td');
           
            if (currentRow && currentColumn) {

            //Get all the rows in the chessBoard
            var allRows = chessBoard.getElementsByTagName('tr');
            
            //Get the index of the row the clicked square is in
            var rowIndex = Array.prototype.indexOf.call(allRows, currentRow);

            //Get all of the columns in the current row
            var allColumns = currentRow.getElementsByTagName('td');
                    
            //Get the index of the column the clicked square is in
            var columnIndex = Array.prototype.indexOf.call(allColumns, currentColumn);

            //If a piece is not already selected, allow the player to select a piece 
            if(!pieceSelected) {

                //Checks if the color of the piece that was selected matches the colour of the current players' turn
                if (currentColumn.getAttribute('data-pieceColour') == turn) {
                    fetch('/recordPieceSelection', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({column: columnIndex, row: rowIndex, pieceName: currentColumn.getAttribute('data-pieceName')})
                    })
                    .then(response => response.json())
                    .then(pieceData => {

                    //Display the coordinates of the clicked square and the status of the piece selection to the console
                    console.log(pieceData);

                    //Update pieceSelected to true
                    pieceSelected = true;

                    })
                    .catch(error => console.error('Error:', error));
                }
            }

            else {
                //Ensures that the new square the selected piece is being moved to does not have a piece of the same colour on it
                if (currentColumn.getAttribute('data-pieceColour') != turn) {
      
                    fetch('/movePiece', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({column: columnIndex, row: rowIndex})
                    })
                    .then(response => response.json())
                    .then(coordinateData => {
                        
                        var newSquare = document.getElementById('(' + coordinateData.newColumnIndex + ', ' + coordinateData.newRowIndex + ')');
                        var originalSquare = document.getElementById('(' + coordinateData.originalColumnIndex + ', ' + coordinateData.originalRowIndex + ')');

                        //Move the piece to the new square and remove it from the original square
                        newSquare.innerHTML = originalSquare.innerHTML;
                        originalSquare.innerHTML = null;

                        //Update the data-pieceName attribute of the new square and original square
                        newSquare.setAttribute('data-pieceName', originalSquare.getAttribute('data-pieceName'));
                        originalSquare.setAttribute('data-pieceName', 'Empty');

                        //Update the data-pieceColour attribute of the new square and original square
                        newSquare.setAttribute('data-pieceColour', originalSquare.getAttribute('data-pieceColour'));
                        originalSquare.setAttribute('data-pieceColour', 'X');

                        //Change turns
                        if(turn == 'W') {
                            turn = 'B';
                        }
                        //Change turns
                        else {
                            turn = 'W';
                        }

                        //Set pieceSelected to false since it is now the next turn
                        pieceSelected = false;

                    })
                    .catch(error => console.error('Error:', error));
        }

        }
    }
    });

    
</script>
</html>