<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/gameStyle.css">
    <title>Chess Game</title>
</head>
<body>
    <table>
            <tr  th:each="row, iterStatY: ${pieces}">
                <!--When adding up the x and y coordinates of each square, the light squares always equal an even number, while the dark squares always equal an odd number-->
                    <td th:each="piece, iterStatX:${row}" th:id = "'(' + ${iterStatX.index} + ', ' + ${iterStatY.index} + ')'" th:class = "${(iterStatX.index + iterStatY.index) % 2 == 0 ? 'lightSquare' : 'darkSquare'}" th:data-colour = "${piece.colour}"><img th:if="${piece.name} != 'Empty'" th:src="'/images/' + ${piece.colour} + '/' + ${piece.name} + '.png'" 
                        th:alt="${piece.name}" 
                        th:class="${piece.name}">
                    </td>
            </tr>
    </table>
</body>
<script>

      var chessBoard = document.getElementsByTagName('table')[0];
        
      chessBoard.addEventListener('click', (evt) => {
           
            var chessBoard = document.getElementsByTagName('table')[0];
            
            //Get the row of the square that was clicked
            var currentRow = (evt.target).closest('tr');

            //Get all the rows in the chessBoard
            var allRows = chessBoard.getElementsByTagName('tr');
       
            //Get the index of the row the clicked square is in
            var rowIndex = Array.prototype.indexOf.call(allRows, currentRow);
       
            //Get the square that was clicked
            var currentColumn = (evt.target).closest('td');

            //Get all of the columns in the current row
            var allColumns = currentRow.getElementsByTagName('td');

            //Get the index of the column the clicked square is in
            var columnIndex = Array.prototype.indexOf.call(allColumns, currentColumn);

            console.log('(' + columnIndex + ", " + rowIndex +')');
         
            fetch('/recordPieceClick', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
           body: JSON.stringify({column: columnIndex, row: rowIndex})
        })
        .then(response => response.json())
        .then(coordinateData => {
            console.log(coordinateData);

            //newX is only defined when a piece is moved to a new square, and the coordinate data of that new square is passed in the response. 
            //Therefore newX will be undefined when a piece is clicked on, but not yet moved to a new square
            if(coordinateData.newX != null) {
            var newCoordinates = document.getElementById('(' + coordinateData.newX + ', ' + coordinateData.newY + ')');
            var originalCoordinates = document.getElementById('(' + coordinateData.originalX + ', ' + coordinateData.originalY + ')');
            newCoordinates.innerHTML = originalCoordinates.innerHTML;
            originalCoordinates.innerHTML = null;
        }
        }
    )
        .catch(error => console.error('Error:', error));
    });


    
</script>
</html>